@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.CellPhoneNum): @Html.DisplayFor(model => model.CellPhoneNum)<h3>
<h3>@Html.DisplayNameFor(model => model.Competencies): @Html.DisplayFor(model => model.Competencies)<h3>
<h3>@Html.DisplayNameFor(model => model.Specialties): @Html.DisplayFor(model => model.Specialties)<h3>
<h3>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)<h3>

<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Add a client", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to List", "Index")</p>