@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    
    @Html.LabelFor(model => model.CellPhoneNum)
    @Html.EditorFor(model => model.CellPhoneNum)

    @Html.LabelFor(model => model.Competencies)
    @Html.EditorFor(model => model.Competencies)

    @Html.LabelFor(model => model.Specialties)
    @Html.EditorFor(model => model.Specialties)

    @Html.LabelFor(model => model.Notes)
    @Html.EditorFor(model => model.Notes)
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Stylists", "Index")</p>