@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<h3>@Html.DisplayNameFor(model => model.CellPhoneNum): @Html.DisplayFor(model => model.CellPhoneNum)<h3>

<h3>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)<h3>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to List", "Index")</p>